header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
    border-bottom: 1px solid #444;

    display: flex;
    justify-content: center;    

    .header-container {
        width: calc($default-layout-width + 40px);
        // height: 53px;
        padding: 19px 20px;
        display: flex;

        @include maxWidth(768px) {
            padding: 16px 20px;
        }

        .logo {
            display: inline-block;

            @include maxWidth(769px) {
                margin: 0 auto;
            }

            img {
                width: 101px;
                height: 30px;

                @include maxWidth(769px) {
                    width: 135px;
                    height: 40px;
                }
            }



            .nav-toggle {
                display: block;
                font-size: 24px;
                cursor: pointer;
                position: absolute;
                top: 17px;
                left: 20px;
                color: #fff;
                line-height: 40px;

                @include minWidth(769px) {
                    display: none;
                }
            }
        }

        nav {
            margin-left: auto;
            transition: 0.3s;
            display: block;
            transition: 0.5s;

            @include maxWidth(768px) {
                display: none;
                width: 40%;
                height: 100vh;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 60px;
                left: 0;
                background: #000;

                animation: openNav 1s;

                @keyframes openNav {
                    0% {opacity: 0;}
                    100% {opacity: 1;}
                }
            }
            ul {
                display: flex;
                line-height: 34px;

                @include maxWidth(768px) {
                    margin-top: 20px;
                    height: 59px;
                    display: block;
                }

                li {
                    margin-left: 20px;

                    @include maxWidth(768px) {
                        width: 75%;
                        border-bottom: 1px solid #444;
                        margin-bottom: 15px;
                    }

                    a {
                        color: #fff;
                        font-size: 16px;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover {
                            color: $main-color;
                        }

                        &:is(:link, :active, :visited).active {
                            color: $main-color;
                        }

                        @include maxWidth(768px) {
                            padding: 5px 20px;
                            font-size: 18px;
                            width: 100%;
                            // border-bottom: 1px solid #444;
                        }
                    }
                }
            }
        }

        .language {
            display: flex;
            margin: auto 0;

            img {
                margin-left: 48px;

                @include maxWidth(768px) {
                    display: none;
                }
            }

            select {
                background-color: #000;
                color: #fff;
                border: none;
                margin-left: 8px;
            }
        }
    }
}