#home {
    background: url(/assets/images/bg_home.png) no-repeat center center;
    background-size: cover;
    height: 100vh;

    .intro-text {
        margin: 0 auto;
        display: flex;
        text-align: left;
        position: relative;
        z-index: 1;
        bottom: 50px;
        right: 210px;

        img {
            width: 380px;
            height: 97.141px;
            margin-right: 20px;
        }

        p {
            font-size: 20px;
            color: #fff;
            vertical-align: inherit;
            white-space: nowrap;
            margin-top: 5px;
        }
    }
}