#home {
    background: url(/assets/images/bg_home.png) no-repeat center center;
    background-size: cover;
    height: 892px;

    .intro-text {
        display: flex;
        text-align: left;
        position: absolute;
        top: 328px;
        z-index: 1;
        width: $default-layout-width;

        @include maxWidth(768px) {
            display: block;
        }

        img {
            width: 417px;
            margin-right: 24px;

            @include maxWidth(768px) {
                width: 243px;
                height: 68px;
                margin-right: 0;
                margin: 0 auto;
            }
        }

        p {
            font-size: 22px;
            line-height: 26.86px;
            color: #fff;
            vertical-align: inherit;
            white-space: nowrap;
            margin-top: 5px;
            @include maxWidth(768px) {
                margin-top: 116px;
                font-size: 18px;
                font-weight: 500;
                line-height: 21.98px;
                text-align: center;
            }
        }
    }
}