#home {
    background: url(/assets/images/bg_home.png) no-repeat center center;
    background-size: cover;
    height: 100vh;

    .intro-text {
        // margin: 0 auto;
        display: flex;
        text-align: left;
        // position: relative;
        z-index: 1;
        // bottom: 50px;
        // right: 210px;
        width: 65%;

        @include maxWidth(768px) {
            display: block;
            text-align: center;
            bottom: -23px;
            right: 0;
        }

        img {
            width: 380px;
            height: 97.141px;
            margin-right: 20px;

            @include maxWidth(768px) {
                width: 243px;
                height: 68px;
                margin-right: 0;
                margin: 0 auto;
            }
        }

        p {
            font-size: 20px;
            color: #fff;
            vertical-align: inherit;
            white-space: nowrap;
            margin-top: 5px;
            @include maxWidth(768px) {
                margin-top: 126px;
                font-size: 18px;
                font-weight: 500;
                line-height: 21.98px;
                text-align: center;
            }
        }
    }
}