#idpass {
    background: linear-gradient(to bottom, #2B2D37 0%, #000 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 156px 0;

    @include maxWidth(768px) {
        padding-top: 44px;
        padding-bottom: 0;
    }

    .process-content {
        max-width: $default-layout-width;
        margin: 0 auto;

        .process-header {
            margin-bottom: 30px;
            text-align: left;

            h3 {
                @include h3Style();
                font-size: 32px;

                @include maxWidth(768px) {
                    font-size: 40px;
                    text-align: center;
                }
            }
        }

        h5 {
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
            opacity: 0.8;
            color: #fff;
            text-align: left;
            margin-bottom: 48px;
            font-weight: normal;

            @include maxWidth(768px) {
                font-size: 16px;
                line-height: 19.54px;
                text-align: center;
                margin: 0 16px;
                margin-bottom: 8px;
            }

            @include maxWidth(360px) {
                margin: 0 30px;
                margin-bottom: 8px;
            }
        }

        .tech-item2 {
            display: flex;
            align-items: center;
            margin-bottom: 64px;
            flex-wrap: wrap;

            @include maxWidth(768px) {
                margin-bottom: 56px;
            }

            .image-section {
                @include maxWidth(768px) {
                    width: 350px;
                    margin: 0 auto;
                }
            }

            .tech-details {
                flex: 1;
                text-align: left;

                .idpass-text {
                    
                    

                    p {
                        border-left: 4px solid $main-color;
                        font-size: 16px;
                        font-weight: bold;
                        opacity: 0.8;
                        background-color: #000;
                        color: #fff;
                        padding: 10px;
                        padding-left: 24px;
                        text-align: left;
                        margin-top: 48px;

                        &:first-child {
                            margin-top: 0;
                        }

                        @include maxWidth(768px){
                            margin: 0 16px 24px;
                            font-size: 14px;
                            line-height: 17.09px;
                        }
                    }
                }
            }
        }

        .tech-item {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .tech-image {
                display: flex;
                justify-content: center;

                img {
                    width: 100%;
                }
            }
        }
    }
}