#service {
    background: #000;
    // background: linear-gradient(180deg, #000000 61%, #000000 100%);
    padding: 75px 0 116px 0;

    @include maxWidth(768px) {
        padding-bottom: 15px;
    }

    .service-content {
        max-width: $default-layout-width;
        width: 100%;

        h2 {
            font-size: 40px;
            font-weight: bold;
            color: $main-color;
            margin-bottom: 30px;
            vertical-align: inherit;

            @include maxWidth(768px) {
            font-size: 24px;
            margin-bottom: 21px;
            }
        }

        p {
            font-size: 18px;
            font-weight: bold;
            opacity: 0.8;
            color: #fff;
            margin-bottom: 40px;
            line-height: 22px;

            @include maxWidth(768px) {
                font-size: 14px;
            }
        }

        .service-images {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            .service-item {
                // flex: 1;
                max-width: 320px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                position: relative;

                @include maxWidth(768px) {
                    margin: 0 auto;
                }

                img {
                    width: 100%;
                    height: auto;
                }

                .service-text {
                    margin-top: 10px;

                    h3 {
                        background-color: $main-color;
                        font-weight: bold;
                        padding: 10px 40px;
                        border-radius: 50px;
                        font-size: 24px;
                        color: #000000;
                        margin: 20px;

                        @include maxWidth(768px) {
                            font-size: 18px;
                        }
                    }

                    p {
                        font-size: 18px;

                        @include maxWidth(768px) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}