#technology {
    background: linear-gradient(180deg, #123647 0%, #000000 61%);
    color: #fff;
    box-sizing: border-box;
    padding: 156px 0;
    padding-bottom: 0;

    @include maxWidth(768px) {
        padding-top: 42px;
    }
    .bg-bottom {
        width: 100%;
        background: url(../images/bg_process.png) no-repeat center bottom;
        background-position: center bottom;
        transform: translateZ(0);
        background-size: contain;
        padding-bottom: 156px;

        @include maxWidth(768px) {
            padding-bottom: 89px;
        }

        .technology-content {
            max-width: $default-layout-width;
            // max-width: $default-layout-width;
            margin: 0 auto;

            .tech-header {
                margin-bottom: 96px;
                text-align: left;

                @include maxWidth(768px) {
                    margin-bottom: 30px
                }

                h3 {
                    @include h3Style();
                    font-size: 32px;

                    @include maxWidth(768px) {
                        font-size: 40px;
                        color: #fff;
                        text-align: center;
                        margin-bottom: 24px;
                    }
                }

                p {
                    font-size: 18px;
                    font-weight: bold;
                    opacity: 0.8;
                    color: #fff;
                    margin: 0;
                    text-align: left;
                    line-height: 120%;

                    @include maxWidth(768px) {
                        margin: 0 auto;
                        text-align: center;
                        font-size: 16px;
                        max-width: 398px;
                    }

                    @include maxWidth(360px) {
                        margin: 0 18px;
                    }
                }
            }

            .tech-item {
                display: flex;
                align-items: center;
                margin-bottom: 40px;
                flex-wrap: wrap;
                width: 100%;

                .tech-image {
                    display: flex;
                    justify-content: center;
                    width: 600px;
                    margin-right: 63px;

                    @include maxWidth(768px) {
                        order: 1;
                        width: 350px;
                        margin: 0 auto;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }

                .tech-details {
                    flex: 1;
                    text-align: left;

                    @include maxWidth(768px) {
                        flex: none;
                        margin: 0 auto;
                        margin-bottom: 32px;
                    }


                    .tech-text {
                        margin-bottom: 30px;
                        display: flex;
                        align-items: center;

                        @include maxWidth(768px) {
                            margin-bottom: 16px;
                            padding-left: 20px;
                            padding-right: 10px;
                        }

                        h4 {
                            font-size: 48px;
                            color: $main-color;
                            margin: 0;
                            display: inline-block;

                            @include maxWidth(768px) {
                                font-size: 32px;
                            }
                        }

                        span {
                            font-size: 18px;
                            font-weight: bold;
                            opacity: 0.8;
                            color: $main-color;
                            display: inline;
                            margin-left: 16px;

                            @include maxWidth(768px) {
                                max-width: 346px;
                                font-size: 14px;
                            }

                            @include maxWidth(450px) {
                                max-width: 270px;
                            }

                            @include maxWidth(360px) {
                                max-width: 265px;
                            }
                        }
                    }
                }
            }

            .tech-item2 {
                display: flex;
                align-items: center;
                margin-bottom: 105px;
                flex-wrap: wrap;

                @include maxWidth(768px) {
                    margin-bottom: 48px;
                }

                .tech-details {
                    flex: 1;
                    text-align: left;
                    margin-right: 71px;

                    @include maxWidth(768px) {
                        margin-right: 0;
                        margin-bottom: 48px;
                    }

                    .tech-text {

                        @include maxWidth(768px) {
                            text-align: center;
                        }


                        h5 {
                            display: inline-block;
                            font-size: 24px;
                            color: $main-color;
                            border: 3px solid $main-color;
                            border-radius: 20px;
                            padding: 64px 96px;
                            margin-bottom: 50px;
                            text-align: left;
                            line-height: 29.3px;

                            @include maxWidth(768px) {
                                // margin-left: 26px;
                                text-align: center;
                                padding: 24px 48px;
                                font-size: 18px;
                                border-radius: 16px;
                            }
                        }

                        p {
                            font-size: 18px;
                            font-weight: bold;
                            opacity: 0.8;
                            color: #fff;
                            margin: 0;
                            line-height: 22px;

                            @include maxWidth(768px) {
                                text-align: center;
                                font-size: 14px;
                                max-width: 323px;
                                margin: 0 auto;
                            }
                        }
                    }
                }

                .tech-image {
                    display: flex;
                    justify-content: center;
                    width: 568px;

                    @include maxWidth(768px) {
                        margin: 0 auto;
                        width: 350px;
                    }

                    img {
                        // max-width: 90%;
                        height: auto ;
                        // object-fit: cover;
                    }
                }
            }

            //process
            .process-container {
                width: 100%;
                height: 100%;
                background-color: #000 50%;
        
                .process-content {
                    max-width: $default-layout-width;
                    margin: 0 auto;
                    box-sizing: border-box;
            
            
                    .process-header {
                        margin-bottom: 40px;
                        text-align: left;

                        @include maxWidth(768px) {
                            margin-bottom: 32px
                        }
            
                        h3 {
                            @include h3Style();
                            font-size: 24px;
                            text-align: center;
                        }
                    }
            
                    .process-image {
            
                        img {
                            width: 100%;
                            margin: 0 auto;

                            @include maxWidth(768px) {
                                width: 307px;
                            }
                        }
                    }
            
                    .process-item {
                        text-align: center;
                        // align-items: center;
                        // gap: 20px;
                        margin: 0 auto;
            
                        .process-text {
            
                            h5 {
                                border: 3px solid $main-color;
                                font-size: 18px;
                                color: $main-color;
                                font-weight: bold;
                                opacity: 0.8;
                                display: inline-block;
                                padding: 16px 72px;
                                border-radius: 50px;
                                margin-top: 70px;
                                line-height: 22px;
                                
                                @include maxWidth(768px) {
                                    margin-top: 40px;
                                    padding: 24px 15px;
                                    font-size: 14px;
                                    max-width: 365px;
                                    border-radius: 32px;
                                    line-height: 17.09px;

                                    margin-left: 20px;
                                    margin-right: 20px;
                                }

                                @include maxWidth(360px) {
                                    padding: 20px 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}