header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1000;
  border-bottom: 1px solid #444;
  display: flex;
  justify-content: center;
}
header .header-container {
  width: 100%;
  padding: 18.5px 80px;
  display: flex;
}
@media screen and (max-width: 768px) {
  header .header-container {
    padding: 16px 20px;
  }
}
header .header-container .logo {
  display: inline-block;
}
@media screen and (max-width: 769px) {
  header .header-container .logo {
    margin: 0 auto;
  }
}
header .header-container .logo img {
  width: 108px;
  height: 32px;
}
@media screen and (max-width: 769px) {
  header .header-container .logo img {
    width: 135px;
    height: 40px;
  }
}
header .header-container .logo .nav-toggle {
  display: block;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 17px;
  left: 20px;
  color: #fff;
  line-height: 40px;
}
@media screen and (min-width: 769px) {
  header .header-container .logo .nav-toggle {
    display: none;
  }
}
header .header-container nav {
  margin-left: auto;
  transition: 0.3s;
  display: block;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  header .header-container nav {
    display: none;
    width: 35%;
    height: 100vh;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: #000;
    animation: openNav 1s;
  }
  @keyframes openNav {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 568px) {
  header .header-container nav {
    width: 42%;
  }
}
@media screen and (max-width: 429px) {
  header .header-container nav {
    width: 50%;
  }
}
header .header-container nav ul {
  display: flex;
  line-height: 34px;
}
@media screen and (max-width: 768px) {
  header .header-container nav ul {
    margin-top: 20px;
    height: 59px;
    display: block;
  }
}
header .header-container nav ul li {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  header .header-container nav ul li {
    width: 75%;
    border-bottom: 1px solid #444;
    margin-bottom: 15px;
  }
}
header .header-container nav ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}
header .header-container nav ul li a:hover {
  color: #02F0F5;
}
header .header-container nav ul li a:is(:link, :active, :visited).active {
  color: #02F0F5;
}
@media screen and (max-width: 768px) {
  header .header-container nav ul li a {
    padding: 5px 20px;
    font-size: 18px;
    width: 100%;
  }
}
header .header-container .language {
  display: flex;
  margin: auto 0;
}
header .header-container .language img {
  margin-left: 48px;
}
@media screen and (max-width: 768px) {
  header .header-container .language img {
    display: none;
  }
}
header .header-container .language select {
  background-color: #000;
  color: #fff;
  border: none;
  margin-left: 8px;
}

#home {
  background: url(/assets/images/bg_home.png) no-repeat center center;
  background-size: cover;
  height: 892px;
}
#home .intro-text {
  display: flex;
  text-align: left;
  position: absolute;
  top: 328px;
  z-index: 1;
  width: 1300px;
}
@media screen and (max-width: 768px) {
  #home .intro-text {
    display: block;
  }
}
#home .intro-text img {
  width: 417px;
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  #home .intro-text img {
    width: 243px;
    height: 68px;
    margin-right: 0;
    margin: 0 auto;
  }
}
#home .intro-text p {
  font-size: 22px;
  line-height: 26.86px;
  color: #fff;
  vertical-align: inherit;
  white-space: wrap;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  #home .intro-text p {
    margin-top: 116px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.98px;
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  #home .intro-text p {
    margin: 116px 497px 0;
  }
}

#company {
  background: linear-gradient(180deg, #0B1457 0%, #000000 61%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 20px;
  padding-bottom: 75px;
  position: relative;
  margin-top: 1px;
}
@media screen and (max-width: 768px) {
  #company {
    padding: 45px 16px 56px;
  }
}
#company .company-content {
  display: flex;
  max-width: 1300px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 768px) {
  #company .company-content {
    display: block;
  }
}
#company .company-content .company-text {
  flex: 1;
  color: #fff;
  text-align: left;
  padding-right: 20px;
}
#company .company-content .company-text img {
  width: 230px;
  margin: 30px 0 50px;
}
@media screen and (max-width: 768px) {
  #company .company-content .company-text img {
    width: 174px;
    margin: 0 auto 25px;
  }
}
#company .company-content .company-text p {
  width: 100%;
  max-width: 506px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  #company .company-content .company-text p {
    text-align: center;
    font-size: 16px;
    line-height: 19.54px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
}
#company .company-content .company-image {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 70%;
  max-width: 472px;
}
@media screen and (max-width: 768px) {
  #company .company-content .company-image {
    margin: 0 auto;
    width: 350px;
  }
}
#company .company-content .company-image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#service {
  background: #000;
  padding: 75px 0 116px 0;
}
@media screen and (max-width: 768px) {
  #service {
    padding-bottom: 15px;
  }
}
#service .service-content {
  max-width: 1300px;
  width: 100%;
}
#service .service-content h2 {
  font-size: 40px;
  font-weight: bold;
  color: #02F0F5;
  margin-bottom: 30px;
  vertical-align: inherit;
}
@media screen and (max-width: 768px) {
  #service .service-content h2 {
    font-size: 24px;
    margin-bottom: 21px;
  }
}
#service .service-content p {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  color: #fff;
  margin-bottom: 40px;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  #service .service-content p {
    font-size: 14px;
  }
}
#service .service-content .service-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
#service .service-content .service-images .service-item {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  #service .service-content .service-images .service-item {
    margin: 0 auto;
  }
}
#service .service-content .service-images .service-item img {
  width: 100%;
  height: auto;
}
#service .service-content .service-images .service-item .service-text {
  margin-top: 10px;
}
#service .service-content .service-images .service-item .service-text h3 {
  background-color: #02F0F5;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 50px;
  font-size: 24px;
  color: #000000;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  #service .service-content .service-images .service-item .service-text h3 {
    font-size: 18px;
  }
}
#service .service-content .service-images .service-item .service-text p {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  #service .service-content .service-images .service-item .service-text p {
    font-size: 14px;
  }
}

#technology {
  background: linear-gradient(180deg, #123647 0%, #000000 61%);
  color: #fff;
  box-sizing: border-box;
  padding: 156px 0;
  padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  #technology {
    padding-top: 42px;
  }
}
#technology .bg-bottom {
  width: 100%;
  background: url(../images/bg_process.png) no-repeat center bottom;
  background-position: center bottom;
  transform: translateZ(0);
  background-size: contain;
  padding-bottom: 156px;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom {
    padding-bottom: 89px;
  }
}
#technology .bg-bottom .technology-content {
  max-width: 1300px;
  margin: 0 auto;
}
#technology .bg-bottom .technology-content .tech-header {
  margin-bottom: 96px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-header {
    margin-bottom: 30px;
  }
}
#technology .bg-bottom .technology-content .tech-header h3 {
  font-size: 20px;
  font-weight: bold;
  color: #02F0F5;
  margin-bottom: 15px;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-header h3 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
  }
}
#technology .bg-bottom .technology-content .tech-header p {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  color: #fff;
  margin: 0;
  text-align: left;
  line-height: 120%;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-header p {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    max-width: 398px;
  }
}
@media screen and (max-width: 360px) {
  #technology .bg-bottom .technology-content .tech-header p {
    margin: 0 18px;
  }
}
#technology .bg-bottom .technology-content .tech-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  width: 100%;
}
#technology .bg-bottom .technology-content .tech-item .tech-image {
  display: flex;
  justify-content: center;
  width: 600px;
  margin-right: 63px;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item .tech-image {
    order: 1;
    width: 350px;
    margin: 0 auto;
  }
}
#technology .bg-bottom .technology-content .tech-item .tech-image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#technology .bg-bottom .technology-content .tech-item .tech-details {
  flex: 1;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item .tech-details {
    flex: none;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}
#technology .bg-bottom .technology-content .tech-item .tech-details .tech-text {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item .tech-details .tech-text {
    margin-bottom: 16px;
    padding-left: 20px;
    padding-right: 10px;
  }
}
#technology .bg-bottom .technology-content .tech-item .tech-details .tech-text h4 {
  font-size: 48px;
  color: #02F0F5;
  margin: 0;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item .tech-details .tech-text h4 {
    font-size: 32px;
  }
}
#technology .bg-bottom .technology-content .tech-item .tech-details .tech-text span {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  color: #02F0F5;
  display: inline;
  margin-left: 16px;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item .tech-details .tech-text span {
    max-width: 346px;
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  #technology .bg-bottom .technology-content .tech-item .tech-details .tech-text span {
    max-width: 270px;
  }
}
@media screen and (max-width: 360px) {
  #technology .bg-bottom .technology-content .tech-item .tech-details .tech-text span {
    max-width: 265px;
  }
}
#technology .bg-bottom .technology-content .tech-item2 {
  display: flex;
  align-items: center;
  margin-bottom: 105px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item2 {
    margin-bottom: 48px;
  }
}
#technology .bg-bottom .technology-content .tech-item2 .tech-details {
  flex: 1;
  text-align: left;
  margin-right: 71px;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item2 .tech-details {
    margin-right: 0;
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item2 .tech-details .tech-text {
    text-align: center;
  }
}
#technology .bg-bottom .technology-content .tech-item2 .tech-details .tech-text h5 {
  display: inline-block;
  font-size: 24px;
  color: #02F0F5;
  border: 3px solid #02F0F5;
  border-radius: 20px;
  padding: 64px 96px;
  margin-bottom: 50px;
  text-align: left;
  line-height: 29.3px;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item2 .tech-details .tech-text h5 {
    text-align: center;
    padding: 24px 48px;
    font-size: 18px;
    border-radius: 16px;
  }
}
#technology .bg-bottom .technology-content .tech-item2 .tech-details .tech-text p {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  color: #fff;
  margin: 0;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item2 .tech-details .tech-text p {
    text-align: center;
    font-size: 14px;
    max-width: 323px;
    margin: 0 auto;
  }
}
#technology .bg-bottom .technology-content .tech-item2 .tech-image {
  display: flex;
  justify-content: center;
  width: 568px;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .tech-item2 .tech-image {
    margin: 0 auto;
    width: 350px;
  }
}
#technology .bg-bottom .technology-content .tech-item2 .tech-image img {
  height: auto;
}
#technology .bg-bottom .technology-content .process-container {
  width: 100%;
  height: 100%;
  background-color: #000 50%;
}
#technology .bg-bottom .technology-content .process-container .process-content {
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}
#technology .bg-bottom .technology-content .process-container .process-content .process-header {
  margin-bottom: 40px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .process-container .process-content .process-header {
    margin-bottom: 32px;
  }
}
#technology .bg-bottom .technology-content .process-container .process-content .process-header h3 {
  font-size: 20px;
  font-weight: bold;
  color: #02F0F5;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: center;
}
#technology .bg-bottom .technology-content .process-container .process-content .process-image img {
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .process-container .process-content .process-image img {
    width: 307px;
  }
}
#technology .bg-bottom .technology-content .process-container .process-content .process-item {
  text-align: center;
  margin: 0 auto;
}
#technology .bg-bottom .technology-content .process-container .process-content .process-item .process-text h5 {
  border: 3px solid #02F0F5;
  font-size: 18px;
  color: #02F0F5;
  font-weight: bold;
  opacity: 0.8;
  display: inline-block;
  padding: 16px 72px;
  border-radius: 50px;
  margin-top: 70px;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  #technology .bg-bottom .technology-content .process-container .process-content .process-item .process-text h5 {
    margin-top: 40px;
    padding: 24px 15px;
    font-size: 14px;
    max-width: 365px;
    border-radius: 32px;
    line-height: 17.09px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 360px) {
  #technology .bg-bottom .technology-content .process-container .process-content .process-item .process-text h5 {
    padding: 20px 10px;
  }
}

#idpass {
  background: linear-gradient(to bottom, #2B2D37 0%, #000 100%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 156px 0;
}
@media screen and (max-width: 768px) {
  #idpass {
    padding-top: 44px;
    padding-bottom: 0;
  }
}
#idpass .process-content {
  max-width: 1300px;
  margin: 0 auto;
}
#idpass .process-content .process-header {
  margin-bottom: 30px;
  text-align: left;
}
#idpass .process-content .process-header h3 {
  font-size: 20px;
  font-weight: bold;
  color: #02F0F5;
  margin-bottom: 15px;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  #idpass .process-content .process-header h3 {
    font-size: 40px;
    text-align: center;
  }
}
#idpass .process-content h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  opacity: 0.8;
  color: #fff;
  text-align: left;
  margin-bottom: 48px;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  #idpass .process-content h5 {
    font-size: 16px;
    line-height: 19.54px;
    text-align: center;
    margin: 0 16px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 360px) {
  #idpass .process-content h5 {
    margin: 0 30px;
    margin-bottom: 8px;
  }
}
#idpass .process-content .tech-item2 {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  #idpass .process-content .tech-item2 {
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 768px) {
  #idpass .process-content .tech-item2 .image-section {
    width: 350px;
    margin: 0 auto;
  }
}
#idpass .process-content .tech-item2 .tech-details {
  flex: 1;
  text-align: left;
}
#idpass .process-content .tech-item2 .tech-details .idpass-text p {
  border-left: 4px solid #02F0F5;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.8;
  background-color: #000;
  color: #fff;
  padding: 10px;
  padding-left: 24px;
  text-align: left;
  margin-top: 48px;
}
#idpass .process-content .tech-item2 .tech-details .idpass-text p:first-child {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  #idpass .process-content .tech-item2 .tech-details .idpass-text p {
    margin: 0 16px 24px;
    font-size: 14px;
    line-height: 17.09px;
  }
}
#idpass .process-content .tech-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#idpass .process-content .tech-item .tech-image {
  display: flex;
  justify-content: center;
}
#idpass .process-content .tech-item .tech-image img {
  width: 100%;
}

.iddata-section {
  background: #D9C1AB;
  color: #000;
  padding: 156px 0;
}
@media screen and (max-width: 768px) {
  .iddata-section {
    padding-top: 44px;
    padding-bottom: 24px;
  }
}
.iddata-section .iddata-header {
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
}
.iddata-section .iddata-header h3 {
  font-size: 20px;
  font-weight: bold;
  color: #02F0F5;
  margin-bottom: 15px;
  font-size: 32px;
  color: #000;
  margin: 0 0 20px;
}
@media screen and (max-width: 768px) {
  .iddata-section .iddata-header h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
  }
}
.iddata-section .iddata-header h5 {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.7;
  margin-bottom: 50px;
  line-height: 1.5;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .iddata-section .iddata-header h5 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 36px;
    padding: 0 25px;
  }
}
.iddata-section .iddata-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .iddata-section .iddata-content {
    display: block;
  }
}
.iddata-section .iddata-content .iddata-text {
  margin-right: 139px;
  max-width: 639px;
}
@media screen and (max-width: 768px) {
  .iddata-section .iddata-content .iddata-text {
    margin: 0 16px;
    margin-bottom: 24px;
  }
}
.iddata-section .iddata-content .iddata-text .iddata-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.iddata-section .iddata-content .iddata-text .iddata-item h4 {
  font-size: 48px;
  margin: 0;
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  .iddata-section .iddata-content .iddata-text .iddata-item h4 {
    font-size: 32px;
    font-weight: 600;
  }
}
.iddata-section .iddata-content .iddata-text .iddata-item span {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.7;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  .iddata-section .iddata-content .iddata-text .iddata-item span {
    font-size: 14px;
    line-height: 17.09px;
  }
}
.iddata-section .iddata-content .iddata-image {
  text-align: center;
  width: 522px;
}
@media screen and (max-width: 768px) {
  .iddata-section .iddata-content .iddata-image {
    width: 350px;
    margin: 0 auto;
  }
}
.iddata-process {
  width: 100%;
  height: 100%;
  background-color: #000;
  padding: 156px 0;
}
@media screen and (max-width: 768px) {
  .iddata-process {
    padding-top: 64px;
    padding-bottom: 72px;
  }
}
.iddata-process .iddata-process-image {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .iddata-process .iddata-process-image {
    width: 264px;
  }
}

footer {
  background: #333;
  color: #fff;
  padding: 32px 0;
  padding-left: 80px;
  padding-right: 213px;
  margin-top: 1px;
}
@media screen and (max-width: 768px) {
  footer {
    padding: 32px 16px 56px;
  }
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  footer .footer-container {
    display: block;
    position: relative;
  }
}
footer .footer-container .footer-left {
  flex: 0 0 auto;
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-left {
    margin-bottom: 34px;
  }
}
footer .footer-container .footer-left img {
  width: 108px;
}
footer .footer-container .footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .footer-container .footer-right .footer-content .footer-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-right .footer-content .footer-contact {
    margin-bottom: 36px;
  }
}
footer .footer-container .footer-right .footer-content .footer-contact .footer-info {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}
footer .footer-container .footer-right .footer-content .footer-contact .footer-info p {
  margin: 5px 0;
  text-align: left;
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-right .footer-content .footer-contact .footer-info p {
    font-size: 16px;
    margin: 0;
    line-height: 19.54px;
  }
}
footer .footer-container .footer-right .footer-content .footer-contact img {
  width: 116px;
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-right .footer-content .footer-contact img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
footer .footer-container .footer-right .footer-content .footer-address {
  text-align: left;
}
footer .footer-container .footer-right .footer-content .footer-address p {
  margin: 5px 0;
}
@media screen and (max-width: 768px) {
  footer .footer-container .footer-right .footer-content .footer-address p {
    font-size: 16px;
    margin: 0;
    line-height: 19.54px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  line-height: 1;
  position: relative;
}
body .section {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: none;
}
body.openNav::after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}/*# sourceMappingURL=styles.css.map */